* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin: 20px 0;
}

/* Grid Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* border: 1px solid red; */
  gap: 15px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  inset: 0;
  background: rgba(0,0,0,0.8); /* overlay */
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 80vh;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
