*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

font-family: "Jost", sans-serif;
font-optical-sizing: auto;
font-style: normal;


}

body{
background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
min-height: 100vh;
}


.Navigation{
display: flex;
justify-content: space-evenly;
flex-direction: row;
margin-top: 20px;

}


.Navigation a{
display: inline-block;
text-decoration: none;
color: black;
text-shadow: 2px 2px 5px grey;
transition: 0.2s ease-in-out;

}

.Navigation a:hover{
    transform: scale(1.1);
    color: blueviolet;
}

img{
    height: 300px;
    margin-left: 10px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;

}

ul li{
    margin-left: 20px;      
    padding-left: 20px; 

}

#Contact,#Skill,#Edu,#About{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px grey;

}

h1{
    margin-left:20px ;
    margin-top: 10px;
}

.Ab p{
    text-align: center;
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.BackBtn{
    background-color:whitesmoke;
    width: 50px;
    border-radius: 10px;
}
.HomeBtn{
    background-color:whitesmoke;
    width: 50px;
    border-radius: 10px;
}

/* ---------Form---------- */
h1{
    font-size: 2.5rem;
    text-align: center;
}
form{
    margin:auto;
    width: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    padding: 30px;
    box-shadow: 2px 2px 5px gray;
    border-radius: 10px;
    transition: 0.6s ease-in-out;

}

form:hover{
     box-shadow: 2px 2px 5px black;
     transform: scale(1.01);
}

form input:not([type="radio"]) {  /*  Every thing will be included except radio*/
    width: 70%;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
}


.radioBtns{
    margin-top: 10px;  display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 10px;
    padding: 10px;
}

form button{
    width:200px;
    height: 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: rgb(253, 181, 242);
}

form button:hover{
    background-color: rgba(173, 104, 238, 0.858)

}

textarea{
    width: 70%;
    margin: auto;
     border: 2px solid black;
    border-radius: 5px;
}

.Btns{
    text-align: center;
    margin-top: 10px;
}