*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Navigation{
display: flex;
justify-content: space-evenly;
flex-direction: row;
margin-top: 20px;

}

.Navigation a{
text-decoration: none;
color: black;
}

img{
    height: 300px;
    margin-left: 10px;
}

ul li{
    margin-left: 20px;      
    padding-left: 20px; 

}